/* .memes-gallery{
    margin-top: 20px;
} */

.memes-gallery img{
    width: 200px;
    height: 200px;
    margin: .5rem;
    border: 1px solid black;
    cursor: pointer;
}

.memes-gallery img:hover{
    opacity: 0.7;
}

.hide{
    visibility: hidden;
}

.gallery-nav a{
    text-transform: capitalize ;
    color: black;
}

.gallery-container input{
    margin-bottom: 20px;
    border-radius: 15px;
    height: 40px;
}


@media (max-width: 800px) {
    .memes-gallery img {
        width: 90px;
        height: 90px;
        margin: .25rem;
    }
}
