/* .memes-gallery{
    margin-top: 20px;
} */

.search-container {
    display: flex;
    margin-bottom: 20px;
}

.memes-gallery img {
    width: 200px;
    height: 200px;
    margin: .5rem;
    border: 1px solid black;
    cursor: pointer;
}

.memes-gallery img:hover {
    opacity: 0.8;
}

.hide {
    visibility: hidden;
}

.gallery-nav a {
    text-transform: capitalize;
    color: black;
    margin-left: 40px;
   line-break: normal;
}

.expand-keywords{
    height: 100px;
    line-height: 50px;
}

.expand-keywords a{
    margin-left: 60px;
}

.gallery-container input {
    margin-bottom: 20px;
    border-radius: 15px;
    height: 40px;
}

@media (max-width: 800px) {
    .search-container{
        padding: 20px;
    }
    .memes-gallery img {
        margin: .25rem;
    }
}

@media (max-width: 600px){
    .search-container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }
}