canvas {
    border: 3px solid black;
    left: 0px;
    margin-inline-end: 50px;
    margin-inline-start: 20px;
}

/* label{
    border: 1px solid black;
    padding: 2px;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
} */


button{
    font-size: 1rem;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

select{
    height: 60px;
    font-size: 1.5rem;
}


.memes-creator-container {
    display: none;
}

/* Layouts */

/* Grid */

.line-edit-conatiner {
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(2, 60px);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-inline-start: 50px;
    margin-bottom: 40px;
}

.line-edit-conatiner input{
    font-size: 1.5rem;
    grid-column: 1/-1;
    /* grid-column-end: 6; */
}

.add-line-btn{
    grid-row: 2/3;
    grid-column: 3/4;
}
.remove-line-btn{
    grid-row: 2/3;
    grid-column: 5/6;
}
.switch-lines-btn{
    grid-row: 2/3;
    grid-column: 4/5;
}

.move-up-btn{
    grid-row: 2/3;
    grid-column: 1/2;
}

.move-down-btn{
    grid-row: 2/3;
    grid-column: 2/3;
}

.text-edit-container{
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(2, 60px);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-inline-start: 50px;
    align-content: center;
}

.increase-size-btn{
    grid-row: 1/2;
    grid-column: 1/2;
}

.decrease-size-btn{
    grid-row: 1/2;
    grid-column: 2/3;
}

.align-left-btn{
    grid-row: 1/2;
    grid-column: 3/4;
}

.align-center-btn{
    grid-row: 1/2;
    grid-column: 4/5;
}

.align-right-btn{
    grid-row: 1/2;
    grid-column: 5/6;
}

.text-edit-container select{
    grid-row: 2/3;
    grid-column: 1/4;
}

 button.color {
    height: 60px;
    width: 60px;
    font-size: 11px;
    padding-bottom: 3px;
}
