* {
    box-sizing: border-box;
}

.canvas-container{
    width: 480px;
    height: 480px;
    border: 1px solid black;
    display: block;
}

/* FONTS */

@font-face {
    font-family: Libre;
    src: url(../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf)
}

body {
    margin: 0;
}

header {
    height: 65px;
    padding-bottom: 20px;
}

.main-nav {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    object-fit: cover;
    border-radius: 20px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.switch-lines-btn {
    transform: rotate(90deg);
}

footer {
    height: 200px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

footer .logo {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1rem;
    font-family: Libre, serif;
}

.main-nav li a {
    padding-inline-end: 50px;
    font-size: 1rem;
}

.main-container {
    background-color: rgb(233, 234, 235);
    padding-top: 40px;
    padding-bottom: 20px;
}

main >* {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5px;
}

/* Main */

/* Helpers: */

.full-screen {
    height: 100vh;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    background-color: #ff7f00;
    color: white;
}
.margin{
    margin: 0 auto;}

.logo {
    margin-inline-start: 20px;
}

.clean-list {
    list-style: none;
}

/* .gallery-container{
    max-width: 1100px;
} */

/* .memes-creator-container{
    max-width: 1020px;
} */

/* layouts: */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex.align-center {
    align-items: center;
}

.flex.center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

@media (max-width: 800px){
    html{
        font-size: 18px;
    }
}
