* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: Libre;
    src: url(../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf)
}

body {
    margin: 0;
}

header {
    height: 65px;
    /* margin-bottom: 50px; */
    padding-bottom: 20px;
}

.main-nav {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    object-fit: cover;
    border-radius: 20px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.switch-lines-btn {
    transform: rotate(90deg);
}

footer {
    height: 200px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

footer .logo {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1rem;
    font-family: Libre, serif;
}

.main-nav li a {
    padding-inline-end: 50px;
    font-size: 1rem;
}

.main-container {
    background-color: rgb(233, 234, 235);
    padding-top: 40px;
    padding-bottom: 20px;
}

main >* {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5px;
}

/* Main */

/* Helpers: */

.container {
    margin: 0 auto;
    width: 100%;
    background-color: #ff7f00;
    color: white;
}

.logo {
    margin-inline-start: 20px;
}

.clean-list {
    list-style: none;
}

.flex.align-center {
    align-items: center;
}

.flex.center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* .gallery-container{
    max-width: 1100px;
} */

/* .memes-creator-container{
    max-width: 1020px;
} */

/* layouts: */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex.align-center {
    align-items: center;
}

.flex.center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

/* .meme-grid{
    grid-template-columns: repeat(5,60px) ;
    grid-template-rows: repeat(7,60px);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-inline-start: 50px;
} */